<!DOCTYPE html>
<html>
    <head>
        <title>New Setup Form</title>
    </head>
    <body>
        <form method="POST" action="/predict">
            <input type="text" placeholder="Enter your 1st name" name="First name" required>
            <br>
            <input type="text" placeholder="Enter your 2nd name" name="second name" required>
            <br>
            <input type="text" name="number" placeholder="Enter your number" required>
            <br>
            <input type="submit" name="submit">
        </form>
    </body>
</html>
